.navbar 
{
    display: flex;
    align-items: center;
    &-right 
    {
        display: flex;
        align-items: center;
        justify-content: space-between;

        // max-width: 1091px;
        // width: 100%;

        margin-left: 10px;
    }
    &_ul 
    {
        display: flex;
        width: 950px;
    }

    &_li
    {
        margin-left: 20px;
    }

    &_a
    {
        color: #000;
        font-weight: 700;

        &:hover
        {
            color: #0f0fd8;
        }
    }

    .select
    {
        border: none;
        background: #ccc;
        padding: 10px;
        border-radius: 20px;
        margin-left: 96px;
        display: flex;
        align-items: center;

        &:hover
        {
            cursor: pointer;
        }
        &::before
        {
            content: '';
            width: 41px;
            height: 41px;
            display: flex;
            align-items: center;
            background: url(../../img/search.png);
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }

    .search 
    {
        width: 41px;
        height: 41px;
        background-color: #ccc;
        background-image: url(./../../images/search.svg);
        background-size: 11px 11px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        margin-left: 8px;
    }
    
}
